.gift-container {
    border: 2px solid rgb(205, 205, 205);
    border-radius: 30px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    margin: 15px 100px 0 0;
}

.icons img {
    width: 30px;
    margin: 0 7px;
} 

.icons img:hover {
    box-shadow: 5px 5px 10px rgb(210, 210, 210);
    transform: rotate(2deg)
}

#gift-detail, #gift-detail img {
    width: 400px;
}

#supplies-container, #instructions-container {
    width: 600px;

}

#gift-detail, #supplies-container, #instructions-container {
    margin: 0 auto;
}

.gift-text-description {
    font-size: 2.3rem;
    line-height: 1.2;
    font-weight: 200;
}

.bold {
    font-size: 1.9rem;
}

hr {
    border: 1px solid black;
    width: 300px;
    margin: 20px auto;
}

h3 {
    font-size: 3.8rem;
    font-family: "Abril Fatface", cursive;
}


#supplies-container li, #instructions-container li {
    font-size: 2rem;
    text-align: left;
}

#instructions-container li {
    list-style: decimal;
}

.edit-icon:hover {
    box-shadow: 10px;
}