* {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  list-style: none;
}
 
.homepage {
  display: flex;
  align-items: center;
  min-height: 80vh;
  justify-content: space-evenly;
}

#main-text {
  width: 400px;
  position: relative;
}
 
h1 {
  font-size: 5rem;
  font-family: "Abril Fatface", cursive;
  line-height: 1;
  position: relative;
}

.red-text {
  font-size: 7rem;
  color: #c61b0d;
}

.img {
  width: 290px;
  position: relative;
}

#main-img {
  position: relative;
  height: 387px;
}

.black-line {
  border: 1px #1e1e1e solid;
  width: 290px;
  height: 380px;
  position: absolute;
  top: -15px;
  left: -15px;
}

.btn {
  padding: 10px 20px;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
}

.red-line {
    width: 80px;
    transform: rotate(95deg);
    position: absolute;
}

.text-position {
    top: -14px;
    right: -37px;
}

.image-position {
    bottom: -24px;
    transform: rotate(0deg);
    right: -25px;
}