.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 40px;
}

.nav-logo {
   text-decoration: none;
   color: #231C06;
   font-family: "Open Sans", sans-serif;
   font-weight: 700;
   font-size: 2rem;
   margin: 0;
}

.nav-list {
   padding-left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
}

.nav-list ul {
   display: flex;
   margin: 0;
   padding: 0;
}

.nav-list li a {
   position: relative;
   text-decoration: none;
   font-family: "Open Sans", sans-serif;
   color: #231C06;
   font-weight: 500;
   margin: 0 40px;
   font-size: 2rem;
}

.nav-list li a::after {
   position: absolute;
   content: "";
   background-color: #C61B0D;
   height: 2px;
   width: 0;
   left: 0;
   bottom: 0px;
   transition: 0.2s;
}


.nav-list li a:hover::after {
   width: 100%;
}

