.boxForm {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  }

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  align-items: center;
  }

.forms input,
textarea,
select {
  border: 2px solid rgb(181, 181, 182);
  border-radius: 8px;
  height: 40px;
  padding: 7px 20px;
  margin: 8px 0;
  width: 350px;
}

#newgift-img {
  position: relative;
}

.newgift-black-line {
  border: 1px #1e1e1e solid;
  width: 290px;
  height: 430px;
  position: absolute;
  top: -15px;
  left: -15px;
}



textarea {
    height: 65px;
    overflow: hidden;
    resize: none;
}

.form-btn {
    width: 200px;
    height: 50px;
    align-items: center;
}

.form-image-position {
  bottom: 35px;
  transform: rotate(0deg);
  right: -25px;
}