* {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  list-style: none;
}

.random {
  display: flex;
  align-items: center;
  min-height: 80vh;
  justify-content: space-evenly;
}

#main-text {
  width: 400px;
  position: relative;
}

h1 {
  font-size: 5rem;
  font-family: "Abril Fatface", cursive;
  line-height: 1;
  position: relative;
}

.red-text {
  font-size: 7rem;
  color: #c61b0d;
}

.random-img {
  width: 290px;
  position: relative;
}

#main-img {
  position: relative;
}

.random-black-line {
  border: 1px #1e1e1e solid;
  width: 290px;
  height: 430px;
  position: absolute;
  top: -15px;
  left: 15px;
}

.btn-effect {
  transition: 0.3s ease;
  border: 0;
}

.btn-effect:hover {
  background: #c61b0d;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
}

.random-text-position {
    top: -60px;
    right: -60px;
}

.random-image-position {
    bottom: -24px;
    transform: rotate(90deg);
    left: -25px;
}

.cursive {
  font-family: 'Handlee', cursive;
  font-size: 2.9rem;
  text-align:center;
  
}