.boxForm {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
}
 
.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  align-items: center;
  } 

.forms input,
textarea,
select {
  border: 2px solid rgb(181, 181, 182);
  border-radius: 8px;
  height: 40px;
  padding: 7px 20px;
  margin: 8px 0;
  width: 350px;
  font-size: 1.5rem;
  color: #757575;
}

#newgift-img {
  position: relative;
  height: 435.2px;
}

.newgift-black-line {
  border: 1px #1e1e1e solid;
  width: 290px;
  height: 430px;
  position: absolute;
  top: -15px;
  left: -15px;
}

textarea {
    height: 100px;
    overflow: hidden;
    resize: none;
    overflow-y: scroll;
}

.form-image-position {
  bottom: -20px;
  transform: rotate(0deg);
  right: -25px;
}